.teacher-view-course {
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: baseline;
}

.right-content {
  padding: 0 20px 0 0;
}

.course-details {
  display: flex;
  flex-basis: fit-content;
}

.course-img {
  margin-left: auto;
}

.course-img img {
  width: 280px;
  float: right;
}

.course-right {
  display: grid;
  grid-template-columns: 40% 60%;
  float: left;
  gap: 2px;
  width: 300px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.124px;
  /* 182.025% */
}

#course-t,
#Duration,
#Faculty,
#Teacher-name {
  color: #847e7e;
}

.Description {
  gap: 12px;
  display: flex;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.696px;
  /* 198.1% */
  letter-spacing: 0.32px;
  margin-right: 20px;
}

.course-complete {
  gap: 2px;
  display: flex;
  align-items: center;
}

.completed {
  color: #323030;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.module-d {
  color: #323030;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.module-but {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.module-btn{
display: flex;
align-items: center;
gap:10px;
width: 100%;
}

.update-course {
  margin-left: auto;
}

.module-details {
  width: 100%;
}

.module-box {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
}
.module-box.first {
  border-radius: 20px 20px 0 0;
}
.module-box.last {
  border-radius: 0 0 20px 20px;
}

.view-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.module-time {
  display: flex;
  gap: 3px;
}

.view-module-btn {
  margin-left: auto;
  margin-right: 10px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 29.124px;
  /* 182.025% */
  width: 133px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #323030;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.mod-text1 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22.124px;
  /* 182.025% */
  letter-spacing: 0.16px;
}

.module-time {
  color: #272727;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.box {
  margin-top: 50px;
  font-weight: bold;
  display: flex;
}

#head {
  padding-top: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 35px;
  border-radius: 20px;
  border: 2px solid #5ddcd6;
}

.switch::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #5ddcd6;
  transition: 0.4s;
}

.toggle-btn:checked + .switch:after {
  translate: 40px 0px;
  background-color: red;
}

.toggle-btn:checked + .switch {
  transition: 0.3s;
  border: red 1px solid;
}

#toggle {
  display: none;
}
.toggle {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pie-chart {
  width: 80%;
}
.enroll-module-btn {
  width: 159px;
  height: 46px;
  margin: 50px 0px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 29.124px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #323030;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.pie-chart{
    
  width:300px;
  height: 410px;
  flex-shrink: 0;
 border-radius: 15px;
 align-items: center;
 gap:30px;
 padding:15px 0px;
 border: 1px solid #323030;
background: #fff;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
 .pie-chart p{
  text-align: center;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  padding-bottom: 15px;
} 
/* responsive */
@media only screen and (max-width: 1100px) {
  .teacher-view-course {
    display: flex;
    flex-direction: column;
    gap: 50px;
    
  }
   /* .course-right{
    font-size: 17px;
    grid-template-columns: 45% 55%;
  } */
  /* .course-details {
    flex-direction: column;
    gap: 10px;
  }
  .course-img img {
    width: 266px;
    height: 150px;
    margin:0px 0px;
    align-content: center;
    float: none;
  }
  .Description {
    flex-direction: column;
    gap: 1px;
  }
  .completed{
    font-size: 17px;
  } */ 
  /* .btn{
    font-size: 7px;
  }  */
  .module-d{
    font-size: 17px;
  }
  .module-but{
display: grid;
grid-template-rows: auto;
  }

  .module-btn{
    display: flex;
    justify-content: center;
    gap:10px
  }
  .mod-text1{
    font-size:14px ;
    
  }
  .module-time{
  flex-direction: column;

  }
  .view-module-btn {
    font-size:14px ;
    width: 100px;
    margin-right: 0px;
  }
  .module-box{
    padding: 5px 10px;
  }
  /* .pie-chart p{
    visibility: hidden;
  } */
  
}
@media only screen and (max-width: 700px) {
 .course-right{
    font-size: 17px;
    grid-template-columns: 45% 55%;
  }
  /* .course-details {
    flex-direction: column;
    gap: 10px;
  } */
  .course-img img {
    width: 250px;
    height: 150px;
    /* margin-right: 310px; */
    align-content: center;
    float: none;
  }
  .Description {
    flex-direction: column;
    gap: 5px;
  }
  .desc-deatail{
    line-height: 22px;
  }
  .completed{
    font-size: 17px;
  }
  
}
@media only screen and (max-width: 500px) {
  .course-details {
    flex-direction: column;
    gap: 20px;
    
  }
  .course-right{
    font-size: 17px;
    gap:10px;
    grid-template-columns: 45% 55%;
  }
  .course-img img{
    margin-right: 150px;

  }
}