.Studentinfo {
    display: inline;
    gap: 10px;
}



.perimg {
    color: #09adad;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
    margin-top: 15px;

}


.student-head {
    width: 240px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 20px;
}

#main-text {
    color: #868181;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 29.124px;
    /* 291.24% */
    margin-top: 15px;
}

table {
    width: 100%;
}

th {
    width: 20%;
    color: #847E7E;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 29.124px;
    text-align: left;
    /* 161.8% */
}

td {
    padding: 2% 0;

}

img {
    border-radius: 15px;
    background: url(<path-to-image>), cover no-repeat;
    max-width: 100%;
    max-height: 100%;
    padding-left: 10%;
    padding-bottom: 6%;
    width: 821px;
    height: 338px;
   
}

.Topcontent {
    display: flex;

}

@media only screen and (max-width: 500px) {
    .Topcontent {
        display: block;
        margin: 0%;
    }

    .Studentinfo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .student-head {
        width: 100px;
        height: 100px;
        display: flex;
        margin: auto;
    }

    .perimg {
            color: #09adad;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-left: 9px;
            margin-top: 9;
            margin-right: 9;
    }

    #main-text {
        color: #868181;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height:19.124px;
    /* 291.24% */
    margin-top: 15px;
    margin-left: 9px;
    }
    #num{
        font-size: 17px;
        text-align: left;
        margin-top: 10px;
    }
    img{
        margin-top: 10px;
        width: 500px;
        height: 338px;
        padding-left: 0%;
    }
}