.Studentinfo {
    display: inline;
    gap: 10px;
    margin-right: 20px;
}
.perimg {
    color: #09adad;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.student-head {
    width: 240px;
    height: 80px;
    border-radius: 15px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 20px;
}
.student-head .text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#main-text {
    color: #868181;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    /* 291.24% */
    /* margin-top: 15px; */
}
#num{
    font-size: 18px;
}

.CourseTable table {
    width: 100%;
}

.CourseTable th {
    width: 20%;
    color: #847E7E;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    /* 161.8% */
}

.CourseTable td {
    padding: 2% 0;
}

.Topcontent {
    display: flex;
    gap: 10px;
}

.graph {
    display: flex;
    align-items: center;
    max-height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
}

.graph img {
    height: 100%;
}

@media only screen and (max-width: 500px) {
    .Topcontent {
        display: block;
        margin: 0%;
        margin-bottom: 40px;
    }
    .Studentinfo{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
    }


    .student-head {
        width: 100%;
    }

    .graph {
        padding: 0;
        margin-top: 20px;
        width: 100%;
        height: 300px;
    }
    .graph img {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }


    .CourseTable th {
        font-size: 14px;
    }
    .CourseTable td {
        font-size: 12px;
        text-align: center;
    }
}