.head h1{
    font-size: 20px;
    margin: 20px 0 10px 0;
}
.inputs{
    margin:15px 0 30px 0 ;
}

.table-start{
    
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 29.124px; /* 161.8% */
}

th{
    color: #847E7E;
}
.inputs input {
    width: 240px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    background: #FFFCFE;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    color: #323030;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    padding-left: 12px;
    line-height: 22px;
}



 th{
    padding: 1px 0 18px 30px;
}

td{
    padding: 1px 0 20px 40px
}

.flex{
    display: flex;
    justify-content: space-between;
    color: #323030;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 29.124px; /* 161.8% */
}

td button{
    padding:5px 20px ; 
    border-radius: 50px;
}