<html>

<head>
<link rel="stylesheet" href="Add.css">
</head>

<body>

    <!-- video  -->
    <div class="add_video">

        <h2 class="subheading">Video No 1</h2>

        <!-- video name  -->
        <div class="input-box">
            <label for="vname">Video Name</label>
            <input type="text" id="vname" placeholder="Enter Video Name">
        </div>

        <!-- url -->
        <div class="input-box">
            <label for="lname">Link (Url) </label>
            <input type="text" id="lname" placeholder="Enter Link / Url">
        </div>
        
        

        <!-- Description -->
        <div class="input-box">
            
            <label for="desc">Description</label>
            <textarea placeholder="enter Description"></textarea>
           
        </div>
        
        
        <!-- Add video  -->
        <button class="btn2 btn-border-blue">+ Add one more Video</button>
    </div>
        
            

</body>

</html>