<html>

<head>
<link rel="stylesheet" href="Add.css">
</head>

<body>
<form action="">
    <!-- video  -->
    <div class="add_video">

        <h1 class="subheading">Video No 1</h1>

        <!-- video name  -->
        <div class="input-box">
            <label for="vname">Video Name</label>
            <input type="text" id="vname" placeholder="Enter Video Name">
        </div>

        <!-- url -->
        <div class="input-box">
            <label for="lname">Link (Url) </label>
            <input type="text" id="lname" placeholder="Enter Link / Url">
        </div>
        
        

        <!-- Description -->
        <div class="input-box">
            
            <label for="desc">Description</label>
            <textarea placeholder="enter Description"></textarea>
           
        </div>
        
        
        <!-- Add video  -->
        <button class="btn2 btn-border-blue">+ Add one more Video</button>
    </div>
    <!-- cancel-save -->
    <div class="cancel_save">
        
        <button class="btn btn-border cancel-btn">Cancel</button>
        
        <button class="btn btn-filled">Save</button>

    </div>
</form>
            

</body>

</html>