<html>

<head>
<link rel="stylesheet" href="Add.css">
</head>

<body>

    <!-- module  -->
    <div class="add_mod">
        <!-- heading of module  -->
        <h1 class="subheading">Module No 1</h1>
<form action="">
        <!-- module name  -->
        <div class="input-box">
            <label for="name">Module Name</label>
            <input type="text" id="mname" placeholder="Enter Module Name">
        </div>

        <!-- Duration -->
        <div class="input-box">
            <label for="duration">Duration</label>
            <input type="number" id="duration" placeholder="Duration">
        </div>

        <!-- Description -->
        <div class="input-box">
            
            <label for="desc">Description</label>
            <textarea placeholder="enter Description"></textarea>
           
        </div>
        <!-- add components (notes,videos,test)  -->

        <div class="con-ntv">
        <!-- Add video  -->
        <button class="btn btn-border-blue">+ Add Video</button>

        <!-- Add notes  -->
        <button class="btn btn-border-blue">+ Add Notes</button>

        <!-- Add Test  -->
        <button class="btn btn-border-blue">+ Add test</button>
        </div>

        <!-- cancel-save --> 
        <div class="cancel_save">

           
            <button class="btn btn-border cancel-btn">Cancel</button>
            
            <button class="btn btn-filled">Save</button>
    
        </div>  
    </form>      
            

</body>

</html>