

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel ="stylesheet" type="text/css" href="style.css" media="screen"/> -->
    <link rel="stylesheet" href="Add.css">
    <style>


       
    </style>




    <title>Document</title>
</head>


<body>
    <form action="">
    <div class="m-test">
        <h1 class="heading">Test Form</h1>




        <!-- test name  -->
        <div class="input-box">
            <p>Test Name</p>
            <input type="text" name="" id="" placeholder="Enter Course Name">
        </div>


          <!-- questions  -->
        <div class="question">
            <p>How many questions you want?: </p>
        </div>




        <div class="input-box">
            <p>Q.1</p>
            <input type="text" name="" id="" placeholder="Question">
        </div>






              <!-- options ka html start here  -->


        <div class="test_option_feilds">
            <div class="input-box">
                <p>Option 1:</p>
                <input type="text" name="" id="" placeholder="Enter option 1">
            </div>
            <div class="input-box">
                <p>Option 2:</p>
                <input type="text" name="" id="" placeholder="Enter option 2">
            </div>
            <div class="input-box">
                <p>Option 3:</p>
                <input type="text" name="" id="" placeholder="Enter option 3">
            </div>
            <div class="input-box">
                <p>Option 4:</p>
                <input type="text" name="" id="" placeholder="Enter option 4">
            </div>
            <!-- correct option  -->
            <div class="input-box">
                <p>Correct Option:</p>
                <input type="text" name="" id="" placeholder="Enter option">
            </div>
        </div>


        <!-- add one more question  -->
        <button class="btn2 btn-border-blue">+ Add one more Question</button>
       
         <!-- cancel-save -->
        <div class="cancel_save">


           
            <button class="btn btn-border cancel-btn">Cancel</button>
           
            <button class="btn btn-filled">Save</button>
   
        </div>
    </form>
   
    </div>
</form>
</body>


</html>
