.studentListNew{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}
.listHeading{
    display: flex;
    align-items: center;
}

.listHeading h3{
    color: var(--secondary);
    text-align: center;
    width: 100%;
}
.listHeading a{
    display: flex;
    cursor: pointer;
}
.listHeading button{
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--accent);
    color: var(--text);
    border: 0;
    border-radius: 4px;
    font-size: 1.333rem;
    width: max-content;
}
.listHeading a:hover button{
    color: white;
}

.searchSection{
    display: flex;
    gap: 20px;
}

.searchSection input{
    border-radius: 3px;
    background: var(--secondary30);
    border: 0;
    padding: 10px;
    transition: 0.4s background-color;
    color: var(--text);
    font-size: 16px;
    width: 100%;
}
.searchSection input:focus{
    outline: 0;
    background: var(--secondary40);
}
.searchSection input::placeholder{
    color: var(--text50);
}

.searchSection button{
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--secondary);
    color: var(--text70);
    border: 0;
    border-radius: 4px;
    font-size: 1.333rem;
    width: max-content;
    display: flex;
}
.searchSection button:hover{
    color: var(--text);
}

.searchSection button svg{
    margin-right: 10px;
}
.searchSection button svg path{
    fill: var(--text);
}

/* list section  */

.listSection{
    display: flex;
    height: 100%;
}

.filterBox{
    width: 300px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: 400px;
}

.filterHead{
    padding: 10px 20px;
    background: var(--secondary90);
}

.filterBody{
    display: flex;
    flex-direction: column;
    min-height: 35vh;
    overflow-y: scroll;
    background-color: var(--secondary20);
    color: var(--text);
}
.filterBody::-webkit-scrollbar{
    width: 3px;
    opacity: 0.5;
    border: 0;
}
.filterBody::-webkit-scrollbar-thumb{
    background-color: var(--accent);
}
.filterBody::-webkit-scrollbar-track{
    display: none;

}

.filter{
    border: 1px solid var(--secondary20);
    padding: 10px 20px;
}

.filterInfo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.filterInfo h4{
    font-size: 20px;
    font-weight: 700;
}
.filterInfo button{
    color: var(--accent);
    font-size: 14px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.filterInfo button:hover{
    text-decoration: underline;
}

.filterDropDown{
    border-radius: 3px;
    background: var(--secondary30);
    border: 0;
    padding: 10px;
    transition: 0.4s background-color;
    color: var(--text);
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}
.filterDropDown:hover{
    background: var(--secondary40);
}
.filterDropDown option{
    padding: 10px 20px;
    color: #000;
}

.filterBottom{
    padding: 10px 20px;
    background-color: var(--secondary90);
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
}
.filterBottom button{
    padding: 5px 20px;
    color: var(--text);
    font-size: 20px;
    width: 100%;
    background-color: var(--secondary10);
    border-radius: 3px;
    border: 1px solid var(--text20);
}
.filterBottom button:nth-child(2){
    color: var(--text);
    background-color: var(--accent);
    border: 0;
}


/* list table */



.listBox{
    /* border: 1px solid black; */
    margin-left: 25px;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 400px; /* Set the max height to 400px */
    overflow-y: auto;
    position: relative;
    flex: 1;
}
.listBox::-webkit-scrollbar{
    width: 5px;
}
.listBox::-webkit-scrollbar-thumb{
    background-color: var(--accent);
}

.listTable{
    width: 100%;
    margin: 0;   
    padding: 0;
    border-collapse: collapse;
    max-height: 300px;
    overflow-y: scroll;
}

.listTable thead tr{
    width: 100%;
    justify-content: space-between;
    position: sticky;
    color: var(--text);
    width: 100%;
    background: var(--secondary90);
    border-radius: 3px;
    overflow: hidden;
}

.listTable thead th{
    padding: 20px 5px;
    text-align: left;
}


.listTable tbody tr{
    display: table-row;
    padding-bottom: 10px;
}

.listTable tbody td{
    background-color: var(--secondary20);;
    padding: 10px 5px;
    color: var(--text);
    border-bottom: 1px solid var(--secondary20);
}
.listTable tbody td svg path{
    fill: var(--text);
}
.studentDetails{
    display: flex;
}
.studentDetails h3{
    font-size: 24px;
}
.studentDetails .img{
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--accent);
}
.studentDetails .img img{
    width: 100%;
    object-fit: cover;
}
.status{
    background-color: #7DFF92;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.status.deactive{
    background-color: rgb(248, 95, 95);
}


.listBulkActions{
    padding: 10px 30px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    color: var(--text);
    background: var(--secondary90);
}

.listBulkActions label{
    font-size: 18px;
}
.listBulkActions button{
    padding: 5px 20px;
    color: var(--text);
    font-size: 20px;
    width: 180px;
    background-color: var(--secondary10);
    border-radius: 3px;
    border: 1px solid var(--text20);
}
.listBulkActions .bulkApply{
    background-color: var(--accent);
    color: var(--text);
    border: 0;
}

.listSection input[type=checkbox]{
    appearance: none;
    padding: 6px;
    background-color: white;
    border: 1px solid black;
    margin: 0 10px;
    border-radius: 3px;
}
.listSection input[type=checkbox]:checked{
    background-color: var(--accent);
}



@media (max-width:800px){

    .listHeading h1{
        font-size: 42px;
    }
    .listHeading button{
        font-size: 42px;
        padding: 0 30px;
    }

    .listSection{
        grid-template-columns: 1fr;    
        gap: 40px;
    }

    .listBox{
        margin: 0;
    }
    .listTable tr th:nth-child(3),.listTable tr th:nth-child(4),.listTable tr th:nth-child(5),
    .listTable tr td:nth-child(3),.listTable tr td:nth-child(4),.listTable tr td:nth-child(5){
        display: none;
    }

    .listTable tr td ,.listTable tr th {
        padding: 15px 10px;
    }

    .studentDetails .img{
        height: 30px;
        width: 30px;
    }
    .studentDetails small{
        font-size: 10px;
    }
    .studentDetails h3{
        font-size: 12px;
    }

    .listTable .status{
        margin: 0;
    }

    .listBulkActions{
        padding: 10px 10px;
        gap: 5px;
    }

    .listBulkActions label{
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .listBulkActions button{
        padding: 5px;
        font-size: 16px;
    }
}


@media (max-width:480px){
    .listBox{
        margin-bottom: 20px;
    }
    .listHeading {
        flex-direction: column;
    }
    .listHeading button{
        width: 100%;
    }

    .searchSection input{
        margin: 0;
        font-size: 24px;
        padding: 5px 20px;
        border-radius: 10px;
    }
    .searchSection button{
        font-size: 10px;
        padding: 5px 10px;
        /* margin: 10px; */
        border-radius: 10px;
    }
    .searchSection button svg{
        height: 10px;
        margin: 0;
    }
    .searchSection{
        gap: 10px;
    }
    .listBulkActions label{
        font-size: 14px;
    }

    .listBulkActions button{
        font-size: 14px;
    }

    .filterBottom button{
        font-size: 16px;
    }
}

@media (max-width:350px){
    .studentDetails h3{
        font-size: 10px;
    }

}