* {
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}

.body {
    background: #E9E9E9;
    font-family: Inter;
}

.accordion {
    width: 914px;
    height: 65px;
    margin: 60px auto;
}

.accordion_label {
    display: flex;
    justify-content: space-between;
    /* background: #1F1F1F;
    color: #FFF; */
    width: 914px;
    height: 65px;
    flex-shrink: 0;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 95.023%;
    position: relative;
    cursor: pointer;
    padding: 20px 40px;
    border-top: 1px;
    background: #D1F5F4;
}

.accordion_label.first {
    border-radius: 10px 10px 0 0;
}

.accordion_label.last {
    border-radius: 0 0 10px 10px;
}

.accordion_input:checked~.accordion_label {
    padding: 20px 40px;
    background: #1F1F1F;
    color: #FFF;
}

.accordion_label label svg path {
    fill: black;
}

.accordion_label label svg {
    transform: rotateZ(180deg);
    transition: .4s transform;
}

.accordion_input:checked~.accordion_label label svg {
    transform: rotateZ(0deg);
}

.accordion_input:checked~.accordion_label label svg path {
    fill: white;
}

.accordion_label2 {
    background: #D1F5F4;
    padding: 20px 40px;

}

.accordion_label3 {
    background: #D1F5F4;
    padding: 20px 40px;
    border-radius: 0px 0px 10px 10px;
}

.section1_content {
    display: inline-block;
    background: #E9E9E9;
    width: 914px;
    max-height: 0;
    transition: all .4s;
    overflow: hidden;
}

.section1_content1 {

    display: flex;
    justify-content: space-between;
}

#section1_duration {
    padding-left: 620px;

}

.section1_icon_topic {
    display: flex;
    gap: 10px
}

/* #section1_topic{
    padding-left: 25px;
} */
.accordion_input {
    display: none;
}

.accordion_input:checked~.section1_content {
    max-height: 100vh;
    padding: 20px 40px;
}

.accordion_input:checked~.accordion_label3 label span {

    transform: rotate(0deg);

}

@media (max-width:400px) {
    .accordion {
       
        width: 200px;
        height: 100px;
        
        background-color: #1F1F1F;
    }

    .accordion_label {
        width: 300px;
        height: 65px;
        font-size: 50px;
        background: #e63636;
    }

    #section1_duration {
        display: hidden;
    }

}