.login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;

}

.login-right {
    background: white;

    border-radius: 50px 0px 0px 50px;

}

.login-form {
    padding: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-content: center;

}

.login button {
    padding: 15px 20px;
    border-radius: 10px;
    max-width: auto;
    width: 100%;
    height: 40px;
    background-color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #323030;
    font-style: normal;
    font-weight: 400;

}

.btn-filled-1 {
    border: 2px solid #5DDCD6;
    background-color: white;
    color: #5DDCD6;
    font-weight: 500;

}

.btn-filled-1:hover {
    border: 2px solid #5DDCD6;
    background-color: white;
    color: #5DDCD6;


    background-color: #5DDCD6;
    border: 0;
    color: white;

}

SMall {
    color: gray;

}

a {
    text-decoration: none;
}

.lbtn-fp {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-box {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.input-box span {
    resize: none;
}

label {
    color: black;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 29.12px;
}



input {
    max-width: auto;
    width: 100%;
    height: 40px;
    border-radius: 18px;
    background: #d9d9d9;

    border: #a2a2a2 1px solid;
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.4s background-color;
}

input:focus {
    background-color: white;

    padding-left: 20px;
    outline: none;
}


:placeholder-shown {
    color: #999292;
    padding-left: 20px;

}


@media screen and (max-width:800px) {


    .ll-header-1 {
        display: flex;
        gap: 20px;
        padding: 20px 10%;
        align-items: center;

    }

    .logo-1 {
        height: 40px;
        width: 40px;
        background-color: #d9d9d9;
        border: 3px solid gray;
        border-radius: 30%;

    }

    .ll-heading-1 {
        color: black;
        font-size: 20px;
    }

    .login {
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
    }

    .login-left {
        display: none;

    }

    .login-right {
        border-radius: 0;

    }

    .login-form {
        padding: 10%;
        height: 500px;



    }

    h1 {
        font-size: 25px;
    }

    /* h1,label,input,button,a{
        
       display: block;
       margin-left: auto;
       margin-right: auto;
    } */
}
/* to hide the logo and name  */
@media screen and (min-width:800px) {

    .ll-header-1,
    .ll-heading-1,
    .logo-1 {
        display: none;

    }


}

@media screen and (max-width:400px) {
    .logo-1 {
        min-width: 40px;
        max-height: 40px;
    }

    .ll-header-1 {
        gap: 10px;
        align-items: none;
    }

}

@media screen and (max-width:300px) {
    .ll-heading-1 {
        font-size: 15px;
    }
}



.ll-header {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;

}

.logo {
    height: 40px;
    width: 40px;
    background-color: #d9d9d9;
    border: 3px solid gray;
    border-radius: 30%;
}

.ll-heading {
    color: #fff;
    font-size: 20px;

}