.studentVideo .title {
    font-size: 50px;
    font-weight: 400;
}

.studentVideo .description {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.studentVideo .course-content {
    display: flex;
    gap: 30px;
}

.studentVideo .left-content {
    flex: 4;
    /* background-color: #ffd2d2; */
}

.studentVideo .right-content {
    flex: 2;
    /* background-color: rgb(196, 196, 248); */
    height: 10px;
}

.studentVideo iframe {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 30px;
    border-radius: 10px;
}

.left-content h4 {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 95.023%;
    /* 38.009px */
    margin-bottom: 30px;
}