<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LMS Landing Page</title>
    <!-- add favicon -->
    <link rel="icon" type="image/x-icon" href="assets/img/logo.png" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display&family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- header and navbar hero-1-section start  -->
    <section class="landing-page">
      <header>
        <nav class="navbar">
          <div class="logo">
            <img src="assets/img/logo.png" />
          </div>
          <div class="menu">
            <ul>
              <a href="#"><li>Home</li></a>
              <a href="#aboutus"><li>About</li></a>
              <a href="#service"><li>Services</li></a>
              <a href="#course"><li>Courses</li></a>
              <a href="#testi"><li>Testimonial</li></a>
            </ul>
          </div>
          <div class="navBtn">
            <button class="btn-sign">Sign-Up Now</button>
          </div>
        </nav>
        <section class="hero-1">
          <div class="hero-1-container">
            <div class="hero-1-content">
              <h1>All -in-one Study courses to easy learn and get certified</h1>
              <div class="hero-1-btn">
                <button class="btn-1">Sign-up Now</button>
              </div>
              <div class="conten-img">
                <img src="assets/img/content-img.png" class="img-1" />
                <img src="assets/img/content-img-1.png" class="content-img-2" />
              </div>
            </div>
            <div class="hero-1-img">
              <img src="assets/img/hero-1.png" />
            </div>
          </div>
        </section>
      </header>
    </section>
    <!-- header and navbar hero-1-section end-->
    <!-- hero-2-section start -->
    <section class="hero-2">
      <div class="hero-2-container">
        <div class="hero-2-img">
          <img src="assets/img/hero-2.png" />
        </div>
        <div class="hero-2-content">
          <h1>Build The SkillsTo Drive Your Career.</h1>
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat.
          </p>
          <div class="hero-2-btn">
            <button class="btn-2">Start for free</button>
          </div>
          <div class="conten-img-2">
            <img src="assets/img/content-img-2.png" class="content-img-2-2" />
          </div>
        </div>
      </div>
    </section>
    <!-- hero-2-section end -->

    <!-- hero-3-section start -->
    <section class="hero-3" id="aboutus">
      <div class="hero-3-container">
        <div class="hero-3-content">
          <h1>Find more E - Learning Experiance</h1>
          <p>
            Grursus mal suada faci lisis Lorem ipsum ametion consectetur elit.
            Vesti at bulum the dumm ipsumm ipsum that .
          </p>
          <div class="hero-3-btn">
            <button class="btn-3">Sign-up Now</button>
          </div>
        </div>
        <div class="hero-3-img">
          <img src="assets/img/hero-3.png" />
        </div>
      </div>
    </section>
    <!-- hero-3-section end -->

    <!-- hero-section-4 start -->
    <section class="hero-4" id="service">
      <div class="hero-4-container">
        <div class="hero-cont-hed">
          <h1>OUR SERVICES</h1>
          <p>
            Proin ac lobortis arcu, a vestibulum augue. Vivamus ipsum neque,
            facilisis vel mollis vitae, mollis nec ante. Quisque aliquam dictum
            condim.
          </p>
        </div>
        <div class="cards-box">
          <div class="card">
            <div class="card-img-1">
              <img src="assets/img/serv-2.png" />
            </div>
            <div class="card-contnt">
              <h3>Notification & Email</h3>
              <p>24/7 Notification and remainder you</p>
            </div>
          </div>
          <div class="card">
            <div class="card-img-2">
              <img src="assets/img/serv-3.png" />
            </div>
            <div class="card-contnt">
              <h3>Certification</h3>
              <p>learn and get certificate and or benifits</p>
            </div>
          </div>
          <div class="card">
            <div class="card-img-3">
              <img src="assets/img/serv-1.png" />
            </div>
            <div class="card-contnt">
              <h3>Azam Campus</h3>
              <p>Learn from our pune’s best campus</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- hero-4-section end -->

    <!-- hero-5-section start -->
    <section class="hero-5" id="course">
      <div class="hero-5-container">
        <div class="hero-5-cont-hed">
          <h1>OUR COURSES</h1>
          <p>
            Proin ac lobortis arcu, a vestibulum augue. Vivamus ipsum neque.
          </p>
        </div>
        <div class="boxes">
          <div class="box">
            <div class="box-img">
              <img src="assets/img/cor-1.png" />
            </div>
            <div class="box-cont">
              <p><i class="fa-solid fa-clock"></i> 1hr 30 min</p>
              <h3>Data Science</h3>
            </div>
          </div>
          <div class="box">
            <div class="box-img">
              <img src="assets/img/cor-2.png" />
            </div>
            <div class="box-cont">
              <p><i class="fa-solid fa-clock"></i>  1hr 30 min</p>
              <h3>UI Automation</h3>
            </div>
          </div>
          <div class="box">
            <div class="box-img">
              <img src="assets/img/cor-3.png" />
            </div>
            <div class="box-cont">
              <p><i class="fa-solid fa-clock"></i>  1hr 30 min</p>
              <h3>Data Analytics</h3>
            </div>
          </div>
          <div class="box">
            <div class="box-img">
              <img src="assets/img/cor-4.png" />
            </div>
            <div class="box-cont">
              <p><i class="fa-solid fa-clock"></i> 1hr 30 min</p>
              <h3>Cyber Security</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- hero-5-section end -->

        <!-- hero-6-section start -->
    <section class="hero-6" id="testi">
      <div class="hero-6-container">
        <div class="hero-6-cont-hed">
          <h1>Testimonials</h1>
        </div>
        <div class="carosel">
          <div class="carosel-body">
            <div class="swip-img">
              <img src="assets/img/vec.png" />
            </div>
            <div class="carosel-card-1">
              <div class="carosel-img">
                <img src="assets/img/test.png" />
              </div>
              <div class="carosel-prghrp">
                <p>
                  “I just wanted to share a quick note and let you know that you
                  guys do a really good job. I’m glad work with you.”
                </p>
                <div class="carosel-head">
                  <h2>MR.KAMIL KHAN</h2>
                  <img src="assets/img/rating.png" />
                </div>
              </div>
            </div>
            <div class="carosel-card-2">
              <div class="carosel-img">
                <img src="assets/img/test.png" />
              </div>
              <div class="carosel-prghrp">
                <p>
                  “I just wanted to share a quick note and let you know that you
                  guys do a really good job. I’m glad work with you.”
                </p>
                <div class="carosel-head">
                  <h2>MR.KAMIL KHAN</h2>
                  <img src="assets/img/rating.png" />
                </div>
              </div>
            </div>
            <div class="carosel-card-3">
              <div class="carosel-img">
                <img src="assets/img/test.png" />
              </div>
              <div class="carosel-prghrp">
                <p>
                  “I just wanted to share a quick note and let you know that you
                  guys do a really good job. I’m glad work with you.”
                </p>
                <div class="carosel-head">
                  <h2>MR.KAMIL KHAN</h2>
                  <img src="assets/img/rating.png" />
                </div>
              </div>
            </div>
            <div class="swip-img">
              <img src="assets/img/vec-2.png" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- hero-6-section end -->
    <!-- footer-section start -->
    <section class="footer">
      <footer>
        <div class="footer-container">
          <div class="foot-col-1">
            <div class="col-1-contnt">
              <div class="logo">
                <img src="assets/img/logo.png" />
              </div>
              <h2>About Us</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et
                lobortis diam. Duis tellus enim, vestibulum eget varius id,
                vulputate et mi. Nullam feugiat, diam quis interdum varius
              </p>
              <div class="foot-btn">
                <button class="f-btn">SignUp Now</button>
              </div>
            </div>
            <div class="col-2-contnt">
              <div class="col-2-head">
                <h2>Popular Courses</h2>
              </div>
              <a href="#">Advanced Programming</a>
              <a href="#">Web Development</a>
              <a href="#">Backend Java programming</a>
            </div>
            <div class="col-3-contnt">
              <div class="col-3-head">
                <h2>Contact Us</h2>
              </div>
              <h3>A BCA (Science) Project Abeda inamdar senior college.</h3>
              <div class="emil">
                <i class="fa-solid fa-envelope"></i
                ><a href="#">Kamilkhan@gmail.com</a>
              </div>
              <div class="no">
                <i class="fa-solid fa-phone-volume"></i>
                <h2>72192919..</h2>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </section>
    /<!-- hero-6-section end -->
  </body>
  <script>
    $(document).ready(function() {
   $('a[href^="#"]').on('click', function(event) {
      var target = $(this.getAttribute('href'));
      if (target.length) {
         event.preventDefault();
         $('html, body').stop().animate({
            scrollTop: target.offset().top
         }, 1000);
      }
   });
});
  </script>
</html>
