<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="filters.css">
</head>

<body>
    <div class="main">
        <div class='container'>
            <h1>Filter</h1>
            <ul>
                <li>you can select filter to get your desired output</li>
            </ul>
            <h4>Filter</h4>
            <form action='' method='post'>
                <label class='fac'>Faculty</label>
                <input type="checkbox" >
                <span class="check"></span>
                <select name="s1" id="s1">
                    <option value="art">Art</option>
                    <option value="science">Science</option>
                    <option value="commerce">Commerce</option>
                </select><br />
                <label class='class'>Class</label>
                <input type="checkbox" >
                <span class="check"></span>
                <select name="s2" id="s2">
                    <option value="fy">FY</option>
                    <option value="fy">SY</option>
                    <option value="fy">TY</option>
                </select><br />
                <div class="filter-btn">
                <button class="btn btn-border close-btn">Close</button>
                <button class="btn btn-filled">Apply</button>
            </div>
            </form>
        </div>
    </div>
</body>

</html>