<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="setvisibility.css">
</head>

<body>
    <div class="main">
        <div class='container'>
            <h2>Set Visibility</h2>
            <form action='' method='post'>

                <label class='arts'><b>Arts</b></label>
                <div class="check">
                    <input type="checkbox" id="ct1"></input>
                    <label for="ct1" class="toggle1"></label>
                </div>
                <label class='science'><b>Science</b></label>
                <div class="check">
                    <input type="checkbox" id="ct2"></input>
                    <label for="ct2" class="toggle2"></label>
                </div>
                <label class='commerce'><b>Commerce</b></label>
                <div class="check">
                    <input type="checkbox" id="ct3"></input>
                    <label for="ct3" class="toggle3"></label>
                </div>
                <div class="filter-btn">
                    <button class="btn btn-border cancel-btn">Cancel</button>
                    <button class="btn btn-filled">Save</button><br>
                </div>
            </form>
        </div>
    </div>
</body>

</html>