<html>
    <head>
<link rel="stylesheet" href="student_viewtest.css">
<!--<link rel="stylesheet" href="style.css">-->
<style>
    *{
        padding: 0;
        margin:0 ;
    }
</style>
    </head>
    <body>
    
    
        <div class="vt_module">

            <!-- heading  -->
            <p class="vt_head"> Test on module 1</p>

            <!-- subheading -->
            <div class="con1">
                <p class="vt_subheading1">Test name:</p>
                <p class="vit_subheading2">React</p>
            </div>
                     <!-- card  -->
            <div class="con2">

                <!-- question  -->
                <div class="question">
                    <div class="q">Q1:</div>
                    <div class="qsh">What is react?</div>

                </div>
                 <!-- main options  -->
                 <div class="main-option">
                    <!-- question  -->
                    <div class="om"><input type="radio" id="option1" name="q1" value="HTML">
                    <label for="option1">A:Style</label></div>

                    <div class="om"><input type="radio" id="option2" name="q1" value="HTML">
                    <label for="option2">A:Style</label></div>

                    <div class="om"><input type="radio" id="option3" name="q1" value="HTML">
                    <label for="option3">A:Style</label></div>

                   <div class="om"> <input type="radio" id="option4" name="q1" value="HTML">
                    <label for="option4">A:Style</label></div>

                 </div>
                
                

            </div>

             <!-- card  -->
            <div class="con2">

                <!-- question  -->
                <div class="question">
                    <div class="q">Q1:</div>
                    <div class="qsh">What is react?</div>

                </div>
                 <!-- main options  -->
                 <div class="main-option">
                    <!-- question  -->
                    <div class="om"><input type="radio" id="option1" name="q1" value="HTML">
                    <label for="option1">A:Style</label></div>

                    <div class="om"><input type="radio" id="option2" name="q1" value="HTML">
                    <label for="option2">A:Style</label></div>

                    <div class="om"><input type="radio" id="option3" name="q1" value="HTML">
                    <label for="option3">A:Style</label></div>

                   <div class="om"> <input type="radio" id="option4" name="q1" value="HTML">
                    <label for="option4">A:Style</label></div>

                 </div>
                
                

            </div>


            <button class=" btn-filled">Submit</button>

        </div>
    </body>
</html>
