@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #5ddcd6;
    padding: 10px;
    font-family: "Inter", sans-serif;
    height: 100vh;
}

nav {
    background-color: white;
    padding: 10px;
    border: 0;
    border-radius: 25px 25px 0 0;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 10vh;
}

.logo {
    margin: 0 150px 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #323030;
}

.logo-img {
    border-radius: 10px;
    background: #c5eee6;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.greetings {
    color: #323030;
}

.profile {
    margin-left: auto;
    display: flex;
    margin-right: 60px;
    align-items: center;
}

.profile img {
    height: 52px;
    width: 52px;
}

.profile-info {
    margin-left: 10px;
}

.profile-info h2 {
    color: #323030;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 29.124px;
    /* 145.62% */
}

.profile-info p {
    color: #868181;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 29.124px;
    /* 182.025% */
}

main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    position: relative;
}

.sidebar {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    border: 0;
    border-radius: 0 0 0 25px;
    margin-right: 10px;
    min-height: 85vh;
}

.sidebar-links {
    text-decoration: none;
    color: #868181;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 29.124px;
    /* 208.029% */
    border: 0;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidebar-links:hover {
    color: black;
    /* background-color: rgb(232, 232, 232); */
    transform: translateY(-2px);
    box-shadow: #919191 0px 2px 7px 1px;
}

.sidebar-links.active {
    background: #5ddcd6;
    color: white;
}

.sidebar-links.active:hover {
    color: black;
}

.sidebar-links.active:hover img {
    opacity: 1;
}

.sidebar-links svg {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    opacity: 0.7;
    fill: none;
    transition: transform 400ms ease-in;
}

.sidebar-links:hover>svg {
    scale: 1.1;
}

.sidebar-links:hover>.home-svg {
    fill: black;
}

.sidebar-links:hover>.course-svg {
    transform: rotateY(360deg);
}

.sidebar-links:hover>.add-svg {
    transform: rotate(90deg);
}

.sidebar-links:hover>.student-svg {
    transform: rotateY(180deg);
    fill: black;
}

.sidebar-links:hover>.class-svg {
    transform: rotateY(180deg);
    fill: black;
}

/* main content goes here */

.main-content {
    width: 100%;
    height: 85vh;
    background-color: white;
    border-radius: 0 0 25px 0;
    overflow-y: scroll;
    padding: 30px 40px;
}

.main-content::-webkit-scrollbar {
    display: none;
}

/* form goes here */

/*.form h1 {
    font-size: 30px;
    color: #323030;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.58px;
    margin-bottom: 40px;
}

.input-field {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 30px;
}

.input-field label {
    color: #323030;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.input-field input,
.input-field span {
    border: #a2a2a2 1px solid;
    border-radius: 3px;
    padding: 10px;
    background-color: #e0e0e0;
    transition: 0.4s background-color;
}

.input-field input:focus,
.input-field span:focus {
    outline: 0;
    background-color: #fff;
}

.input-field span {
    resize: none;
}

#drop {
    display: none;
}

.droplabel {
    cursor: pointer;
    padding: 10px;
    border: 2px solid #5ddcd6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s background-color;
}

.droplabel svg {
    width: 50px;
    height: 50px;
    transition: 0.4s transform;
}

.droplabel:hover {
    background-color: #5ddcd6;
}

.droplabel:hover>svg {
    transform: scale(1.2);
}

.droplabel:hover>svg path {
    fill: white;
}

/* form ends here  */
.btn {
    padding: 15px 20px;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    background-color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #323030;
    font-style: normal;
    font-weight: 400;
    ;
}

.btn-border-blue {
    border: 1px solid #5DDCD6;
    transition: 0.5s background-color;
}

.btn-border-blue:hover {
    background-color: #5DDCD6;
    color: white;
}

.btn-border {
    border: 1px solid #868181;
}

.cancel-btn {
    transition: 0.2s border;
    transition: 0.3s color;
}

.cancel-btn:hover {
    color: red;
    border: 1px solid red;
}

.btn-filled {
    background-color: #5DDCD6;
    border: 0;
    color: white;
    font-weight: 500;
    transition: 0.3s background-color;
}

.btn-filled:hover {
    background-color: #5ddc90;
}



/* menu  */
.menu{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-left: 25px;
    padding: 15px 0;
}
.menu div{
    padding: 1px;
    background-color: black;
    width: 30px;
}

.menu-items{
    background-color: white;
    position: absolute;
    width: 100%;
    padding: 10px;
    display: none;
}
.menu-items.active{
    display: block;
}


@media only screen and (max-width: 1100px) {
    main {
        display: block;
    }

    .sidebar {
        display: none;
    }
    .nav{
        border-radius: 15px 15px 0 0;
    }
    .main-content {
        border-radius: 0 0 15px 15px;
        padding: 30px;
    }

    .profile-info {
        display: none;
    }
    .menu{
        display: flex;
    }
}

@media only screen and (max-width: 800px) {
    .greetings{
        display: none;
    }
    .logo {
        margin: 0 auto;
    }
    .logo-img{
        display: none;
    }
    .profile {
        margin-right: 25px;
        margin-left: 0;
    }
    .main-content {
        padding: 20px;
    }
}
@media only screen and (max-height: 800px) {
    .menu {
        padding: 10px 0;
    }
}


.form h1 {
    font-size: 30px;
    color: #323030;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.58px;
    margin-bottom: 40px;
}

.input-field {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 30px;
}

.input-field label {
    color: #323030;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.input-field input,
.input-field span {
    border: #a2a2a2 1px solid;
    border-radius: 3px;
    padding: 10px;
    background-color: #e0e0e0;
    transition: 0.4s background-color;
}

.input-field input:focus,
.input-field span:focus {
    outline: 0;
    background-color: #fff;
}

.input-field span {
    resize: none;
}

#drop {
    display: none;
}

.droplabel {
    cursor: pointer;
    padding: 10px;
    border: 2px solid #5DDCD6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s background-color;
}

.droplabel svg {
    width: 50px;
    height: 50px;
    transition: 0.4s transform;
}

.droplabel:hover {
    background-color: #5DDCD6;
}

.droplabel:hover>svg {
    transform: scale(1.2);
}

.droplabel:hover>svg path {
    fill: white;
}
