.viewtest_module1{
    width: 1182px;
    height: 905px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #FFF;
    padding-top: 18px;
    padding-left: 50px;
}

.viewtest_heading {
    color: #323030;
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.124px; /* 100.428% */
    letter-spacing: 0.58px;
}

.viewtest_subheading1 {  
    color: #847E7E;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;

   
}

.viewtest_subheading2{
    color: #323030;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* border: 2px solid red; */
    
    letter-spacing: 0.32px;
}

.viewtest_module2 {
    display: flex;
    gap: 10px;
}

.card1 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 780px;
    height: 252px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    padding-top: 16px;
    padding-left: 33px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}
 .question{
    display: flex;
    flex-direction: row;
    gap: 20px;
 }

 .answer{
    display:flex;
    flex-direction:row ;
    gap: 20px;
 }
.card2 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 780px;
    height: 252px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    padding-top: 16px;
    padding-left: 33px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.update {

    padding-left: 300px;
    padding-top: 90px;
}
.btn-filled {
    background-color: #5DDCD6;
    border: 0;
    color: white;
    font-weight: 500;
    transition: 0.3s background-color;
    padding: 15px 0px;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
}

.btn-filled:hover {
    background-color: #5ddc90;
}



.sb_m1 {
    width: 626px;
    color: #323030;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.696px;  /*198.1% */
    letter-spacing: 0.32px;
      /*padding-right: 80px;*/  
}


.que1 {
    color: #847E7E;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 29.124px; /* 182.025% */
    /* padding-top: 16px;
    padding-left: 33px; */
}

.main_options {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    fill: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    width: 626px;
    color: #323030;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.696px; /* 198.1% */
    letter-spacing: 0.32px;
    padding-left: 40px;


}

.answer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.crr {

    color: #847E7E;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 29.124px; /* 182.025% */
     padding-top: 100px;
    padding-left: 40px; 
}


.sb_m2 {
    color: #323030;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.696px; /* 198.1% */
    letter-spacing: 0.32px;
    padding-top: 100px;
    /*padding-left: 10px;*/ 
}





    .update1 {

        padding-left: 180px;
        padding-top: 90px;
    }
    .btn-filled {
        background-color: #5DDCD6;
        border: 0;
        color: white;
        font-weight: 500;
        transition: 0.3s background-color;
        padding: 15px 0px;
        border-radius: 10px;
        width: 140px;
        height: 40px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: 400;
    }

    .btn-filled:hover {
        background-color: #5ddc90;
    }
    

.viewtest_module4 {
    display: flex;
    padding-top: 30px;
}

.viewtest_module5 {
    display: flex;
    padding-top: 30px;   
}

.question2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
 }

 .que2 {
    color: #847E7E;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 29.124px; /* 182.025% */
    /* padding-top: 16px;
    padding-left: 33px; */
}

.sb_m5 {
    width: 626px;
    color: #323030;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.696px;  /*198.1% */
    letter-spacing: 0.32px;
      /*padding-right: 80px;*/  
}

.main_options2 {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    fill: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    width: 626px;
    color: #323030;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.696px; /* 198.1% */
    letter-spacing: 0.32px;
    padding-left: 40px;


}

.answer2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.crr1 {

    color: #847E7E;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 29.124px; /* 182.025% */
     padding-top: 100px;
    padding-left: 40px; 
}

.sb_m6 {
    color: #323030;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.696px; /* 198.1% */
    letter-spacing: 0.32px;
    padding-top: 100px;
    /*padding-left: 10px;*/ 
}

.update1 {

    padding-left: 180px;
    padding-top: 90px;
}

    .btn-filled {
        background-color: #5DDCD6;
        border: 0;
        color: white;
        font-weight: 500;
        transition: 0.3s background-color;
        padding: 15px 0px;
        border-radius: 10px;
        width: 140px;
        height: 40px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: 400;
    }

    .btn-filled:hover {
        background-color: #5ddc90;
    }

.updatetest1{

    padding-top: 30px;
    
}


.btn-filled {
    background-color: #5DDCD6;
    border: 0;
    color: white;
    font-weight: 500;
    transition: 0.3s background-color;
    padding: 15px 0px;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
}

.btn-filled:hover {
    background-color: #5ddc90;
}
.que2, .sb_m5 {
display: inline;
}   
.answer-and-updateb{
display: flex;
gap: 150px;
}
