<html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="teacher_viewtest.css">
    <!--<link rel="stylesheet" href="style.css">-->
</head>

</html>

<html>

<head>

<body>
    
        <div class="viewtest_module1">
            <p class="viewtest_heading">Test on module 1</p>

            <div class="viewtest_module2">
                <p class="viewtest_subheading1">Test name:</p>
                <p class="viewtest_subheading2">React</p>
            </div>

            <div class="viewtest_module3">
                <div class="card1">
                    <div class="question">
                        <div class="que1">Q1:</div>
                        <div class="sb_m1">What is react?</div>
                    </div>

                    <div class="main_options">
                        <input type="radio" id="html" name="fav_language" value="HTML">
                        <label for="html">A:Style</label><br>

                        <input type="radio" id="html" name="fav_language" value="HTML">
                        <label for="html">B:API</label><br>

                        <input type="radio" id="html" name="fav_language" value="HTML">
                        <label for="html">C:Frame Work</label><br>

                        <input type="radio" id="html" name="fav_language" value="HTML">
                        <label for="html">D:Server</label><br>
                    </div>

                    <div class="answer">
                        <div class="crr">Correct Answer:</div>
                        <div class="sb_m2">Frame Work</div>

                        <div class="update">
                            <button class="btn-filled">Update Question</button>
                        </div>
                    </div>



                </div>


                <div class="viewtest_module4">
                    <div class="card2">
                        <div class="question1">
                            <div class="que2">Q2:</div>
                            <div class="sb_m5">What is react?</div>
                        </div>

                        <div class="main_options2">
                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">A:Style</label><br>

                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">B:API</label><br>

                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">C:Frame Work</label><br>

                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">D:Server</label><br>
                        </div>

                        <div class="answer-and-updateb">


                            <div class="answer2">
                                <div class="crr1">Correct Answer:</div>
                                <div class="sb_m6">Frame Work</div>
                            </div>
                            <div class="update1">
                                <button class="btn-filled">Update Question</button>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="updatetest1">
                    <button class="btn-filled">Update Test</button>
                </div>

            </div>


</body>
</head>

</html>