@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.video-container{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    margin-left: 0%;
    margin-top: 10px;
}
.video-modules{
    background-color: greenyellow;
  margin-left: 20px;
    width: 250px;
    height: 250px;
}


.video-info p{
    color: #323030;
    font-family: inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 20px;
}
#video-no{
    font-weight: 1000;
    color: black;
    font-size: 20px;
}
.video{
    flex-shrink: 0;
    display:flex;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
    margin-left: 0%
}
.video iframe{
    border-radius:10px ;
    width:800px ; 
    height:405px;
    margin-left: 0%;
}
.video img{
    width:746px;
    
}
.video svg{
    
    position:absolute;
    top: 150px;
}
.video-desc{
    color:black;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.696px; /* 198.1% */
    letter-spacing: 0.32px;
    display:flex;
    margin-bottom: 40px;
    width: 800px;
}
.video-desc h4{
    color:#847E7E ;
}

.btn{
    padding: 15px 20px;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    background-color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #323030;
    font-style: normal;
    font-weight: 400;;
}
.btn-border-blue{
    border: 1px solid #5DDCD6;
    transition: 0.5s background-color; 
}   
.btn-border-blue:hover{
    background-color: #5DDCD6;
    color: white;
}   
.btn-border{
    border: 1px solid #868181;
}
.cancel-btn{
    transition: 0.2s border;
    transition: 0.3s color;
}
.cancel-btn:hover{
    color: red;
    border: 1px solid red;
}
.btn-filled{
    background-color: #5DDCD6;
    border: 0;
    color: white;
    font-weight: 500;
    transition: 0.3s background-color;
}
.btn-filled:hover{
    background-color: #5ddc90;
}
.video-btns{
    display:flex;
    justify-content: space-between;
}
@media only screen and (max-width: 1100px) {
    .video-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        width: 100px;
    }
    .video-info h4{
        color:  #323030;
        font-size: 15px;
        font-weight: 500;

    }
    .video-info p{
        color: #323030;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
    }
    .video{
        width:100%;
        display:block;
       
        margin-bottom: 30px;
    }
    .video iframe{
        border-radius:10px ;
        width: 80%;
        height: 150px;
    }
    .video-desc{
        color:black;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 31.696px;
        display:flex;
        width: 200px;
       
    }
    .btn{
        padding: 10px 15px;
        border-radius: 10px;
        width: 100px;
        height: 40px;
        background-color: white;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #323030;
        font-style: normal;
        font-weight: 400;;
    }
    .btn-border-blue{
        border: 1px solid #5DDCD6;
        transition: 0.5s background-color; 
    }   
    .btn-border-blue:hover{
        background-color: #5DDCD6;
        color: white;
    }   
    .btn-border{
        border: 1px solid #868181;
    }
    .cancel-btn{
        transition: 0.2s border;
        transition: 0.3s color;
    }
    .cancel-btn:hover{
        color: red;
        border: 1px solid red;
    }
    .btn-filled{
        background-color: #5DDCD6;
        border: 0;
        color: white;
        font-weight: 500;
        transition: 0.3s background-color;
    }
    .btn-filled:hover{
        background-color: #5ddc90;
    }
    .video-btns{
        display:flex;
       justify-content:left;
    }
}