@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #5DDCD6;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    position: relative;
}


/* main content goes here */

.main-content {
    width: 100%;
    height: 85vh;
    background-color: white;
    border-radius: 0 0 25px 0;
    overflow-y: scroll;
    padding: 30px 40px;
}

.main-content::-webkit-scrollbar {
    display: none;
}


/* form goes here */

.form h1 {
    font-size: 30px;
    color: #323030;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.58px;
    margin-bottom: 40px;
}

.input-field {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 30px;
}

.input-field label {
    color: #323030;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.input-field input,
.input-field span {
    border: #a2a2a2 1px solid;
    border-radius: 3px;
    padding: 10px;
    background-color: #e0e0e0;
    transition: 0.4s background-color;
}

.input-field input:focus,
.input-field span:focus {
    outline: 0;
    background-color: #fff;
}

.input-field span {
    resize: none;
}

#drop {
    display: none;
}

.droplabel {
    cursor: pointer;
    padding: 10px;
    border: 2px solid #5DDCD6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s background-color;
}

.droplabel svg {
    width: 50px;
    height: 50px;
    transition: 0.4s transform;
}

.droplabel:hover {
    background-color: #5DDCD6;
}

.droplabel:hover>svg {
    transform: scale(1.2);
}

.droplabel:hover>svg path {
    fill: white;
}

/* form ends here  */

/* popup start here  */

.filter-popup {
    border: 0;
    border-radius: 20px;
    box-shadow: black 0px 3px 5px 0px;
    width: 300px;
    padding: 30px 60px;
}

.filter-popup h2 {
    color: #323030;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.58px;
    margin-bottom: 20px;
}

.filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

.filters label {
    font-size: 14px;
    font-style: normal;
}

.filters input {
    background-color: #D6D6D6;
}

.btn {
    padding: 15px 20px;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #323030;
    font-style: normal;
    font-weight: 400;
    min-width: 150px;
    min-height: 45px;
}

.btn-border-blue {
    border: 1px solid #5DDCD6;
    transition: 0.5s background-color;
}

.btn-border-blue:hover {
    background-color: #5DDCD6;
    color: white;
}

.btn-border {
    border: 1px solid #868181;
}

.cancel-btn {
    transition: 0.2s border;
    transition: 0.3s color;
}

.cancel-btn:hover {
    color: red;
    border: 1px solid red;
}

.btn-filled {
    background-color: #5DDCD6;
    border: 0;
    color: white;
    font-weight: 500;
    transition: 0.3s background-color;
}

.btn-filled:hover {
    background-color: #5ddc90;
}


/* menu  */
.menu {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-left: 25px;
    padding: 15px 0;
}

.menu div {
    padding: 1px;
    background-color: black;
    width: 30px;
}

.menu-items {
    border-bottom: 1px solid gray;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 0;
    padding: 0;
    transition: opacity 100ms linear 0s;
    opacity: 0;
    transition-delay: 50ms;
    border-radius: 5px;
    z-index: 5;
}
.menu-items .sidebar-links{
    display: none;
}

.menu-items.active {
    display: block;
    height: auto;
    padding: 10px;
    box-shadow: 0px 3px 7px 2px #474747;;
    opacity: 1;
}
.menu-items.active .sidebar-links {
    display: flex;
}



@media only screen and (max-width: 1100px) {
    main {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .nav {
        border-radius: 15px 15px 0 0;
    }

    .main-content {
        border-radius: 0 0 15px 15px;
        padding: 30px;
    }

    .profile-info {
        display: none;
    }

    .menu {
        display: flex;
    }
    .btn{
        padding: 10px;
        min-width: 100px;
    }
}

@media only screen and (max-width: 800px) {
    .greetings {
        display: none;
    }

    .logo {
        margin: 0 auto;
    }

    .logo-img {
        display: none;
    }

    .profile {
        margin-right: 25px;
        margin-left: 0;
    }
    .main-content {
        padding: 20px;
    }
}

@media only screen and (max-height: 800px) {
    .menu {
        padding: 10px 0;
    }
}


/* video box  */

.video-component {
    padding-top: 10px;
    margin-bottom: 20px;
}

.video-component .heading {
    font-size: 25px;
}

.videos {
    padding-top: 20px;
    width: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.video-box img {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.video-box {
    box-shadow: 1px 1px 6px #888888;
    border-radius: 10px;
    padding: 10px;
    
}

.video-info {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}

.video-info h1 {
    color: #323030;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.video-info small {
    color: #868181;
    font-style: normal;
}

/* video box end  */

@media only screen and (max-width: 520px) {
    .videos {
        gap:20px;
        grid-template-columns: 1fr;
    }
    .video-box{
        display: flex;
        align-items: center;
    }
    .video-img{
        width:50px;
        height:50px;
        border: 1px solid black;
        display:flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    } 
    .video-img img{
        object-fit: cover;
        height:100%;
        width: auto;
        margin: 0;
    }
    .video-info h1 {
        color: #323030;
        font-size: 15px;
        font-weight: 500;
        margin: 10px;
    }
    
    .video-info small {
        color: #868181;
        font-style: normal;
        margin-top: 50px;
    }
}