.heading {
    color: #323030;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.124px;
    letter-spacing: 0.58px;
}
  

.sub_heading {
    display: flex;
    gap: 6px;
    margin-bottom: 6px;
    margin-top: 10px;
  }
  
  .sub_heading input[type="text"] {
    width: 240px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: #fffcfe;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    color: #323030;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    padding-left: 12px;
    line-height: 22px;
  }
  
  .filter1 {
    width: 80px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: #fffcfe;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    width: 100px;
    color: #323030;
    font-size: 16px;
    cursor: pointer;
  }
  .module2 {
    width: 293px;
    height: 41px;
    flex-shrink: 0;
  }
  
  .heading1 {
    color: #323030;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.124px; /* 100.428% */
    letter-spacing: 0.58px;
    margin-top: 30px;
  }
  
  .right {
    text-align: right;
  }
  
  .sub_heading input[type="text"]:focus {
    outline: none;
  }
  sub_heading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .module5 table {
    width: 100%;
  }
  
  .module5 th {
    color: #847e7e;
    font-size: 15px;
  }
  
  .module5 td {
    text-align: center;
    font-size: 15px;
    padding: 12px;
    color: #323030;
    font-weight: 600;
  }
  
  .module5 td button {
    padding: 4px 16px;
    background-color: white;
    border-radius: 16px;
    font-weight: normal;
  }
  
  .course-info {
    display: flex;
    align-items: center;
  }
  
  .course-info img {
    max-width: 40px;
    margin-right: 10px;
  }
  
  .course-info span {
    flex-grow: 1;
  }
  
  .heading {
    color: #323030;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 29.124px;
    letter-spacing: 0.58px;
  }
  @media only screen and (max-width: 768px) {
    .sub_heading {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 4px;
      margin-bottom: 4px;
      margin-top: 8px;
    }
  
    .sub_heading input[type="text"] {
      width: 100%;
      height: 40px;
      border-radius: 8px;
      font-size: 12px;
      padding-left: 10px;
      line-height: 20px;
    }
  
    .filter1 {
      width: 100%;
      height: 40px;
      border-radius: 8px;
      font-size: 14px;
    }
  
    .module2 {
      width: 100%;
      height: 36px;
    }
  
    .heading1 {
      font-size: 18px;
      margin-top: 20px;
    }
    .left {
      text-align: left;
    }
  
    .module5 th {
      font-size: 14px;
    }
  
    .module5 td {
      font-size: 14px;
      padding: 10px;
    }
  
    .module5 td button {
      padding: 4px 12px;
      border-radius: 12px;
    }
  }
  @media screen and (max-width: 500px) {
    .sub_heading {
      flex-direction: column;
    }
    .sub_heading input[type="text"] {
      width: 100%;
    }
    .module5 {
      overflow-x: scroll;
    }
  }
  